
<div id="barchart"></div>
<script>

    if({{ graph.isEmpty | json_encode | raw }}) {
        if("{{ graph.emptyText | raw }}".length > 0) {
            var para = document.createElement("p");
            var node = document.createTextNode("{{ graph.emptyText|raw }}");
            para.setAttribute("class", "empty-text");
            para.setAttribute("align", "center");
            para.appendChild(node);
            var barChart = document.getElementById("barchart");
            barChart.appendChild(para);
        }
    }
    else {
        var canDownload = {{ graph.canDownload | json_encode | raw }};
        data = d3.csv.parse({{ graph.data | json_encode | raw }}, function(d) {
            return {
                field:d.field.replace(";", ","),
                name:d.name.replace(";", ","),
                value:+d.value
            };
        });
        data.reverse();
        var maxWidthL = 0;
        var maxWidthR = 0;
        var dataRange = 0;
        for (var i = 0; i < data.length; i++) {
            if (data[i].name.length > maxWidthL)
                maxWidthL = data[i].name.length;
            if (data[i].value.toString().length > maxWidthR)
                maxWidthR = data[i].value.toString().length;
            if(data[i].value > dataRange)
                dataRange = data[i].value;
        }

        //set up svg using margin conventions - we'll need plenty of room on the left for labels
        var margin = {
            top: 25,
            right: maxWidthR * 9 + 30,
            bottom: 25,
            left: maxWidthL * 9 + 30
        };

        var width = 820 - margin.left - margin.right,
            height = data.length * 26;

        var svg = d3.select("#barchart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .attr("class", "single-barchart")
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var max = {{ graph.max | json_encode | raw }};

        var x = d3.scale.linear()
            .range([0, max > 0 ? dataRange / max * width : width ])
            .domain([0, d3.max(data, function (d) {
                return d.value;
            })]);

        var xScale = d3.scale.linear()
            .range([0, width ])
            .domain([0, max]);

        var y = d3.scale.ordinal()
            .rangeRoundBands([height, 0], .1)
            .domain(data.map(function (d) {
                return d.name;
            }));

        if(max > 0) {
            var xAxis = d3.svg.axis()
                .scale(xScale)
                .orient("bottom")
                .tickValues(xScale.ticks(1).concat([0, max]))
                .tickFormat(d3.format("f"));

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);
        }

        //make y axis to show bar names
        var yAxis = d3.svg.axis()
            .scale(y)
            //no tick marks
            .tickSize(0)
            .orient("left");

        var gy = svg.append("g")
            .attr("class", "y axis y-axis")
            .attr("transform", "translate(-10, 0)")
            .call(yAxis);

        var bars = svg.selectAll(".bar")
            .data(data)
            .enter()
            .append("g");

        //append rects
        bars.append("rect")
            .attr("class", canDownload ? "bar clickable-bar" : "bar")
            .attr("y", function (d) {
                return y(d.name);
            })
            .attr("height", y.rangeBand())
            .attr("x", 0)
            .attr("width", function (d) {
                return x(d.value);
            });

        //add a value label to the right of each bar
        bars.append("text")
            .attr("class", "graph-label")
            //y position of the label is halfway down the bar
            .attr("y", function (d) {
                return y(d.name) + y.rangeBand() / 2 + 4;
            })
            //x position is 6 pixels to the right of the bar
            .attr("x", function (d) {
                return x(d.value) + 6;
            })
            .text(function (d) {
                return d.value;
            });

        if(canDownload) {
            bars.selectAll(".bar").on("click", function (d) {
                location.assign("{{ route | raw }}&aspect={{ active_aspect | raw }}&parameter={{ active_parameter | raw }}&question={{ active_question | raw }}&graph={{ graph.type | raw }}&field=" + d.field);
            });
        }

        svg.append("text")
            .attr("x", 0)
            .attr("y", -10)
            .style("text-anchor", "right")
            .text("{{ graph.header | raw }}");
    }
</script>
