<!-- use class="active" for proper background for active buttons-->
<div class="left-menu">
    <div class="btn-group-vertical">
        {% set loopI = 1 %}

        {% for aspect_label, aspect in left_menu %}
            <p class="left-menu-level-one">{{ aspect_label }}</p>
            {% set url_name = aspect_label|url_encode|replace({'%20': '+'}) %}

            {%  for parameter_label, parameter in aspect %}
                {% set url_sub_name = parameter_label|url_encode|replace({'%20': '+'}) %}
                {% set loopI = loopI + 1 %}
                <div id="accordion{{ loopI }}">
                    <div class="card">
                        <div class="card-header" id="heading{{ loopI }}">
                            <button class="btn btn-default not-rounded parameter {% if aspect_label == active_aspect and parameter_label == active_parameter %}parameter-active{% endif %}" data-toggle="collapse"
                                    data-target="#collapse{{ loopI }}" aria-expanded="{% if aspect_label == active_aspect and parameter_label == active_parameter %}true{% else %}false{% endif %}" aria-controls="collapse{{ loopI }}">{{ parameter_label }}<span class="caret"></span></button>
                        </div>

                        <div id="collapse{{ loopI }}" class="collapse {% if aspect_label == active_aspect and parameter_label == active_parameter %}in{% endif %}" aria-labelledby="heading{{ loopI }}" data-parent="#accordion{{ loopI }}">
                            <div class="card-body">
                                <div class="btn-group-vertical collapse collapsed-buttons">

                                    {% for question, call in parameter %}
                                        {% set url_sub_sub_name = question|url_encode|replace({'%20': '+'}) %}
                                        <a href="{{ route ~ "&aspect=" ~ url_name ~ "&parameter=" ~ url_sub_name ~ "&question=" ~ url_sub_sub_name }}"
                                           class="btn btn-default not-rounded collapsed-button question {% if aspect_label == active_aspect and parameter_label == active_parameter and question == active_question %}question-active{% endif %}">{{ question }}</a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

        {% endfor %}

    </div>
</div>
