
<div><div id="piechart">
</div>
    {% if graph.canDownload %}
        {% include 'download.html.twig' %}
    {% endif %}
</div>
<script>

    //Set font-sizes of labels

    var bigFontSize = "16px";
    var smallFontSize = "13px";

    if({{ graph.isEmpty | json_encode | raw }}) {
        var para = document.createElement("p");
        var node = document.createTextNode("{{ graph.emptyText|raw }}");
        para.setAttribute("class", "empty-text");
        para.setAttribute("align", "center");
        para.appendChild(node);
        var pieChart = document.getElementById("piechart");
        pieChart.appendChild(para);
    }
    else {
        var w = 758;
        var r = 150;
        var marginSize = 20;
        var h = r * 2 + marginSize * 2;
        var cols = ["#00BCE4", "#FFFFFF", "#5F585D"];

        var data = {{ graph.data | raw }};
        var vis = d3.select('#piechart')
            .append("svg:svg")
            .data([data])
            .attr("width", w)
            .attr("height", h)
            .append("svg:g")
            .attr("transform", "translate(" + (w / 2) + "," + (r + marginSize) + ")");

        var pie = d3.layout.pie().value(function (d) {
            return d.value;
        });

        // Declare an arc generator function
        var arc = d3.svg.arc().outerRadius(r);

        // Select paths, use arc generator to draw
        var arcs = vis.selectAll("g.slice").data(pie).enter().append("svg:g").attr("class", "slice");
        arcs.append("svg:path")
            .attr("fill", function (d, i) {
                return i < cols.length ? cols[i] : color(i - cols.length);
            })
            .attr("d", function (d) {
                return arc(d);
            });

        // Add the text
        arcs.append("svg:text")
            .attr("transform", function (d) {
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";
            })
            .attr("text-anchor", "middle")
            .style("font-size", smallFontSize)
            .style("font-family", "'Gotham', Helvetica, Arial, sans-serif")
            .text(function (d, i) {
                return data[i].value > 0 ? data[i].label : "";
            });


        if({{ graph.isFull | json_encode | raw }}) {
            var para = document.createElement("p");
            var node = document.createTextNode("{{ graph.fullText | raw }}");
            para.setAttribute("align", "center");
            para.appendChild(node);
            var pieChart = document.getElementById("piechart");
            pieChart.appendChild(para);
        }
    }
</script>

