{% extends "base.html.twig" %}

{% block body %}
    {% include 'providers.html.twig' %}
    <div id="main-container">
        {% include 'menu_left.html.twig' %}
        <div id="graphs">
            <script src="{{ asset('js/d3.v3.min.js') }}"></script>
            <p class="print-provider">{{ provider_name }}</p>
            <div class="title-div">
                <p class="print-title">{{ report.printTitle }}</p>
                <p class="title">{{ report.title }}</p>
                <div class="print-icon">
                    <a href=""><img src="{{ asset('images/print_icon.png') }}" alt="Print" onClick="window.print()" width="30px" ></a>
                </div>
            </div>
            <p class="description">{{ report.description }}</p>
            {% for graph in report.graphs %}
                <div class="graph">
                    {% include graph.template with {'route': download, 'active_aspect': active_aspect, 'active_parameter': active_parameter, 'active_question': active_question, 'graph': graph } only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
